*{
    color: black;

}

header img{
    width: 300px;
    height: 300px;
}


.main{
    margin-left: 18px;
    margin-right: 18px;
}

.main p{
    margin-top: 15px;
    font-size: 18px;
}

.article_main{
    width: 100%;
    float: left;
    text-align: center;
    align-items: center;
}

.article_main .info{
    width: 32%;
    margin-left: 5px;
    align-items: center;
}



